<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Edit patient</title>

</head>
<body>
<div class="container card pb-4 mb-5 " layout:fragment="indexPageContent">
    <h2 class="mt-4 mb-3 text-center">Edit patient : </h2>
    <h4 class=" mb-5 text-center">
        <span class="badge b bg-secondary"  th:text="${patientObject.getFirstName() +' ' +patientObject.getLastName()}"></span>
    </h4>
    <div class="row">
        <div class="col-6 offset-3">
            <form th:action="@{/saveEditedPatient(page=${currentPage}, size=${pageSize}, searchKeyWord=${searchKeyWord})}" th:object="${patientObject}" method="POST" action="#">
                <label  class="badge bg-dark mb-3" th:text="${'ID: '+ patientObject.id}"></label>
                <input type="hidden" name="id" class="form-control"  id="id" th:field="*{id}"/>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text"
                           name="firstName"
                           class="form-control"
                           id="firstName"
                           th:field="*{firstName}"
                           th:value="${patientObject.firstName}"
                            >
                    <span  class="text-danger" th:errors="${patientObject.firstName}"></span>

                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" name="lastName" class="form-control" id="lastName"
                           th:field="*{lastName}"
                           th:value="${patientObject.lastName}"
                           >
                    <span  class="text-danger" th:errors="${patientObject.lastName}"></span>

                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" th:field="*{email}" th:value="${patientObject.email}" >
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    <span  class="text-danger" th:errors="${patientObject.email}"></span>


                </div>
                <div class="mb-3">
                    <label for="birthDate" class="form-label">Birth date</label>
                    <input type="date" name="birthDate" class="form-control" id="birthDate" th:field="*{birthDate}" th:value="${patientObject.birthDate}" >
                    <span  class="text-danger" th:errors="${patientObject.birthDate}"></span>

                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-dark text-light btn-sm text-uppercase"><i class="fas fa-edit"></i> save</button>
                    </div>
                    <div class="col  d-flex flex-row-reverse">
                        <a th:href="@{/patients}" class="btn btn-outline-warning text-dark btn-sm text-uppercase"><i class="fa-solid fa-arrow-left-long"></i> To the list</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>